<header class="projects-header">
  <div class="projects-kicker">
    <img class="projects-kicker-icon"
         src="{{ url_for('static', filename='assets/project_logo.png') }}"
         alt="" aria-hidden="true">
  </div>

  <div class="projects-title-row">
    <img class="projects-line"
         src="{{ url_for('static', filename='assets/line_left.png') }}"
         alt="" aria-hidden="true">

    <h1 class="projects-title">PROJECTS</h1>

    <img class="projects-line"
         src="{{ url_for('static', filename='assets/line_right.png') }}"
         alt="" aria-hidden="true">
  </div>
</header>
