{% extends "profile_base.html" %}

{% block head %}
{{super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/experience.css') }}">


  <!-- Tech Stack -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/techstack.css') }}">
  <script src="{{ url_for('static', filename='js/techstack.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/experience.js') }}" defer></script>
{% endblock %}

{% block stage %}
<div class="about-stage h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 h-100 d-flex justify-content-center">
        
        <!-- This is the "shell" that sits inside the red area -->
        <div class="about-shell w-100">

          <!-- HERO (stays at top naturally) -->
          {% include "components/about/hero.html" %}

          <!-- Tech Stack -->
          {% include "components/about/techstack.html" %}

          <!-- EXPERIENCES -->
           {% include "components/about/experience.html" %}

        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}