{% extends "profile_base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
  <script src="{{ url_for('static', filename='js/project.js') }}" defer></script>

{% endblock %}

{% block stage %}
<div class="projects-stage">
  <div class="projects-shell">

    {% include "components/projects/header.html" %}
    {% include "components/projects/grid.html" %}
    {% include "components/projects/project_modal.html" %}

  </div>
</div>
{% endblock %}
